.div-areas{
   display: flex;
   width: 100%;
   gap: 20px;
   flex-wrap: nowrap;
   align-items: center;
   text-align: center;
   justify-content: center;
}

.botones {
   display: flex;
   flex-direction: column;
   gap: 10px;
   text-align: start;
   /* align-items: center; */
   justify-content: start;
}
button {
   cursor: pointer;
}

.area{
   display: block;
   flex: 1;
   width: 100%;
}

textarea {
   width: 100%;
   box-sizing: border-box;
   margin-bottom: 10px;
   /* padding: 8px; */
   border: 1px solid #ccc;
   border-radius: 4px;
   resize: none;
   /* background-color: rgb(174, 107, 1); */
}

.div-dibuja {
   border: 3px solid red;
   display: flex;
   justify-content: center;
   /* width: 40em; */
   overflow: hidden;
   flex-wrap: nowrap;
   /* padding: 2em; */
   margin: 5px 0;
   /* max-width: 100%;
   max-height: 100%; */
   min-width: fit-content;
   min-height: fit-content;
}

.instrucciones{
   cursor: pointer;
   background-color: rgb(186, 200, 226);
   font-size: 12px;
   padding: 2px 5px;
   border-radius: 5px;
}

.instrucciones:hover{
   background-color: rgb(127, 167, 243);
}

.explicacion-instrucciones{
   font-size: 12px;
}